{% extends 'base.html'%}

{% block contents %}
<body>
<div>
    <div class="jumbotron" style="padding-top:100px">
        <h1 class="display-4">
            <div class="container">
                <h1 style="font-weight:600; color:darkslategrey"> Blog-Project by Hankyul </h1>
            </div>
        </h1>
        <div class="container">  
            <p class="lead">김한결의 CRUD 입니다. </p>
        </div>
        <div class="container">
            <hr class="my-4">
            <p>코딩 쉽지 않아요!</p>
            <button type="button" class="btn btn-dark"><a href="{% url 'new' %}"  style="color:white;" > New Post </a></button>
        </div>
    </div>
</div>

{% for blog in blogs.all %}
    <div class="container">
        <div class="card" style="padding:7px" >
            <div class="card-body">
            <a href="{% url 'detail' blog.id %}"> <h5 class="card-title">{{blog.title}}</h5></a>
            <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
            <p class="card-text">{{blog.body}}</p>
            </div>
        </div>
    </div>
<br>
{% endfor %}
</body>
{% endblock %}