{% extends 'base.html' %}
{% block contents %}
<br>
<div class="container" style="padding-top:100px;" >
<h1 style="font-weight:600; color:darkslategrey"> 수정 페이지 입니다 </h1>
<form action="{% url 'edit' updates.id%}" method="POST" >
{% csrf_token %}
   <h4>제목: </h4>
   <input type="text" name="title" value={{updates.title}}>
   <br>
   <br>
   <h4>본문: </h4>
   <textarea cols=40 rows=10 name="body">{{updates.body}}</textarea>
   <br>
   <br>
   <input class="btn btn-dark" type="submit" value="제출하기">
</form>
</div>
{%endblock%}